<h1>Mi primer componente del archivo </h1>
<br>
<small>saludar.component.html</small>
<input type="text" name="" id="">
<p>Soy un parrafo</p>
<h1>
    Saludar Component
</h1>
<div [ngSwitch]="nombres.length">
    <div>
        <input type="text" [(ngModel)]="nombreLista">
        <br>
        <button (click)="onButtonClick()">Añadir nombre</button>
    </div>
    <div *ngSwitchCase="1">
        <p>Uno</p>
    </div>
    <div *ngSwitchCase="3">
        <p>Tres</p>
    </div>
    

</div>
<p *ngFor="let item of nombres; index as i">
   {{i}}.- Hola {{item}}
</p>